@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&family=Urbanist:wght@200;700&display=swap');

body{
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow-y: hidden;
}

.containerbox{
    padding: 0 128px;
}

#box1{
    height: 100vh;
}

.navbar{
    padding: 32px 0;
    background: transparent !important;
}

.yatobtn{
    border-radius: 0px;
    padding: 16px 42px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}

.menu_icon{
    color: #ffffff;
}

.mabo128{
    margin-bottom: 128px;
}




/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 0%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 16px 8px;
  text-decoration: none;
  font-size: 36px;
  font-weight: 100;
  color: #999999;
  z-index: 99999;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


.menu_active{
    font-weight: 700 !important;
    color: #ffffff !important;
}


.menuleft{
    background-image: url("../images/avatar.png");
    background-size: cover;
    height: 100vh;
}


.textmain{
    text-align: center;
    font-size: 81px;
    margin-top: 20vh;
    font-weight: 100;
    margin-bottom: 32px;
    color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: 400%;
            animation: move 10s ease infinite;
            background-image: linear-gradient( 68.7deg,  rgb(255, 255, 255) 13.2%, rgb(172, 107, 47) 29.8%, rgb(255, 255, 255) 48.9%, rgb(179, 179, 179) 68.2%, rgba(255,94,0,1) 86.4% );
}

 @keyframes move {
            0%,100%{
                background-position: 200% 0%;
            }

            50%{
                background-position: 0% 200%;
            }
        }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}









@media (max-width: 767px) {
	
.containerbox{
    padding: 0 32px;
}

.menuleft{
    background-image: url("../images/avatar.png");
    background-size: cover;
    height: 30vh;
}

}